{{#partial "content"}}
<h1>Consultas </h1>
	
<div class="jumbotron">
	<form action="/admin/consultas/filtrar" method="GET">
		<div class="row">
		
		<div class="form-group col-xs-3">
	
			<label> Terminal </label>
			<select class="form-control " name="terminal">
				<option value=Todas>Todas</option>
				{{#each terminales}}
				<option value={{username}}>{{username}}</option>
				{{/each}}
			</select> 
		</div>
		<div class="form-group col-xs-3">
			<label> Desde: </label>
			<input type="date" class="form-control"  name="desde">
		</div>
		<div class="form-group col-xs-3">
			<label> Hasta: </label>
			<input type="date" class="form-control" name="hasta">
		</div>
		<div class="form-group col-xs-3">
			<label> Cantidad Resultados: </label>
			<input type="number" class="form-control" name="cantidad">
		</div>

		</div>
		<button class="btn btn-outline-success" type="submit"><span class="glyphicon glyphicon-search"></span>  Buscar</button>
	</form>
</div>	
<table class="table table-stripped">
		<thead>
			<tr>
        		<th>Terminal</th>
        		<th>Fecha</th>
        		<th>Frase Buscada</th>
      		</tr>
		</thead>
	 	{{#each busquedas}}
			<tbody>
			<tr>
				<td> {{username}} </td>
				<td> {{fecha}} </td>
				<td> {{searchText}} </td>
				<td>
					<a href="/admin/consultas/resultados/{{username}}/{{searchText}}/{{fecha}}">Ver Resultados</a>
				
				</td>
			</tr>
		{{/each}}
		</tbody>
</table>
{{/partial}}

{{>layout_admin.hbs}}
